<!-- <h1 class="ui centered header">Sent</h1> -->
<table class="ui fluid celled table">
  <thead>
    <tr>
        <th class='three wide column center aligned'>Sender</th>
        <th class='two wide column center aligned'>Time Sent</th>
        <th class='four wide column center aligned'>Subject</th>
        <th class='six wide column center aligned'>Message</th>
        <th class='one wide column center aligned'></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of messages">
      <td>{{message.receiver}}</td>
      <td>{{message.sent | date}}</td>
      <td>{{message.subject}}</td>
      <td>{{message.message}}</td>
      <td class='center aligned'>
        <i class="trash icon" (click)="delete(message.id)"></i>
      </td>
    </tr>
  </tbody>
</table>
