<!-- <h1 class="ui centered header">Inbox</h1> -->
<table class="ui celled fluid table">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Time Sent</th>
      <th>Subject</th>
      <th>Message</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of messages">
      <td>{{message.sender}}</td>
      <td>{{message.sent | date}}</td>
      <td>{{message.subject}}</td>
      <td>{{message.message}}</td>
      <td>
        <i class="reply icon" (click)="reply(message.sender)"></i>
        <i class="trash icon" (click)="delete(message.id)"></i>
      </td>
    </tr>
  </tbody>
</table>
