.navbar {
    border-radius: 0 !important;
}
.menu {
    position: relative !important;
}
p{
    position: absolute !important;
    right: 0 !important;
    border: none !important;
    font-weight: 700 !important;
}