<div class="ui inverted menu navbar">
  <a  routerLink="inbox"
      routerLinkActive="active"
      class="item">
      Inbox
  </a>
  <a  routerLink="sent"
      routerLinkActive="active"
      class="item">
      Sent
  </a>
  <a  routerLink="compose"
      routerLinkActive="active"
      class="item">
      Compose
  </a>
  <a  routerLink="settings"
      routerLinkActive="active"
      class="item">
      Settings
  </a>
  <div class="ui divider"></div>
  <a  routerLink="login"
      routerLinkActive="active"
      class="item"
      (click)="logout()">
      Logout
  </a>
  <p class="item">Hello, {{user}}</p>
</div>