.menuBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.menu {
    margin: 1rem 0 !important;
}
.delete {
    color: red !important;
}
.settings {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}